bin/
data/
opencl/
openmp/
others/
*.swp
*.o

cuda/cfd/euler3d
cuda/cfd/euler3d_double
cuda/cfd/pre_euler3d
cuda/cfd/pre_euler3d_double
cuda/dwt2d/dwt2d
cuda/heartwall/heartwall
cuda/hotspot/hotspot
cuda/hybridsort/hybridsort
cuda/kmeans/kmeans
cuda/kmeans/kmeans.h.gch
cuda/lavaMD/lavaMD
cuda/mummergpu/lib/
cuda/mummergpu/src/obj/
cuda/nn/hurricane_gen
cuda/nn/nn
cuda/nn/nn_cuda.cu.cpp.ii
cuda/nw/needle
cuda/particlefilter/particlefilter_float
cuda/particlefilter/particlefilter_naive
cuda/pathfinder/pathfinder
cuda/streamcluster/sc_gpu
cuda/bfs/bfs
cuda/gaussian/gaussian
cuda/srad/srad_v1/srad
cuda/srad/srad_v2/srad
cuda/leukocyte/CUDA/avilib.h.gch
cuda/leukocyte/CUDA/find_ellipse.h.gch
cuda/leukocyte/CUDA/track_ellipse.h.gch
cuda/backprop/backprop
cuda/leukocyte/CUDA/leukocyte
cuda/leukocyte/meschach_lib/meschach.a
cuda/lud/cuda/lud_cuda
cuda/bfs/result.txt
cuda/b+tree/b+tree
cuda/b+tree/output.txt
cuda/cfd/density
cuda/cfd/density_energy
cuda/cfd/momentum
cuda/cfd.tar
cuda/hotspot3D/3D
cuda/hotspot3D/hotspot3D
cuda/hotspot3D/output.out
cuda/hotspot/output.out
cuda/dwt2d/192.bmp.dwt.b
cuda/dwt2d/192.bmp.dwt.g
cuda/dwt2d/192.bmp.dwt.r
cuda/dwt2d/rgb.bmp.dwt.b
cuda/dwt2d/rgb.bmp.dwt.g
cuda/dwt2d/rgb.bmp.dwt.r
cuda/dwt2d/result.txt
cuda/huffman/huffman
cuda/mummergpu/NC_00399.out
cuda/nw/nw
cuda/pathfinder/result.txt
cuda/myocyte/myocyte
cuda/streamcluster/output.txt
