bin/
data/
opencl/
openmp/
others/
*.swp
*.o

cuda/cfd/euler3d
cuda/cfd/euler3d_double
cuda/cfd/pre_euler3d
cuda/cfd/pre_euler3d_double
cuda/dwt2d/dwt2d
cuda/heartwall/heartwall
cuda/hotspot/hotspot
cuda/hybridsort/hybridsort
cuda/kmeans/kmeans
cuda/kmeans/kmeans.h.gch
cuda/lavaMD/lavaMD
cuda/mummergpu/lib/
cuda/mummergpu/src/obj/
cuda/nn/hurricane_gen
cuda/nn/nn
cuda/nn/nn_cuda.cu.cpp.ii
cuda/nw/needle
cuda/particlefilter/particlefilter_float
cuda/particlefilter/particlefilter_naive
cuda/pathfinder/pathfinder
cuda/streamcluster/sc_gpu
